{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
    <!-- List of uploads -->
    {% if deliverables %}
      <ul>
          {% for deliverable in deliverables %}
              <li><a href="{{ MEDIA_URL }}{{ deliverable.id }}">{{ deliverable.docfile.name }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>No deliverables</p>
    {% endif %}

    <!-- Upload form.-->
    <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>

      <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

      <p>
          {{ form.docfile.errors }}
          {{ form.docfile }}
      </p>
      <p>
        <input type="submit" value="Upload"/></p>
    </form>
</div>
</div>
</div>
{% endblock %}
