{% extends '../base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
    <!-- List of files on server in current directory -->
    <h4> Current directory: {{ cur_dir }} </h5>
    {% if files %}
      <ul>
          {% for file in files %}
              <li><a href="{{ request.path }}/{{ file }}">{{ file }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>No files in current directory</p>
    {% endif %}

    <!-- Upload form.-->
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="myfile">
      <input type="submit" value="Upload"/></p>
    </form>

    <!-- Create directory.-->
    <form action="file/mkdir" method="post">
      {% csrf_token %}
      <input type="submit" value="Create directory">
      <input type="text"   name="new_dir_name">
      <input type="hidden" name="cur_dir" value="{{ request.path }}">
    </form>


</div>
</div>
</div>
{% endblock %}