{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans " Start Page " %}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <h1>{% blocktrans trimmed %}Secure Cloud File Storage {% endblocktrans %}</h1>
  <p>{% blocktrans trimmed %}Welcome to the home page of the SecureCloud server. {% endblocktrans %}</p>

  {% url 'registration' as reg_url %}
  {% url 'login'        as login_url %}
  {% url 'fs_home'      as fs_home_url %}

  <ol>
    <li>{% blocktrans trimmed %}Start by <a href="{{ reg_url }}">registering</a> an account using our Telegram bot.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ login_url }}">Login</a> to your account.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %} Then, store and download your files securely by using our <a href="filestorage/">service</a>. {% endblocktrans %}</li>
  </ol>
{% endblock %}
