{% extends "_base_focus.html" %}
{% load i18n %}

{% block content %}
  
  <h4>{% block title %}{% trans "Telegram Authentication Process" %}{% endblock %}</h3>
  
  <p>{% blocktrans trimmed %} We need to verify your account with our Telegram bot <code>@cloudstorate_bot</code>.
                              Please, click on the <b>Send code</b> button, then paste code that our Telegram Bot has sent to you here 
                              and click on the <b>Verify</b> button. {% endblocktrans %}</p>
  
  <form action="" method="POST">
    {% csrf_token %}
    <table>{{ form }}</table>
    <p>
      <a href="{% url 'tg_creq' %}"  class="btn btn-default">{% trans "Send code" %}</a>
      <button class="btn btn-primary" type="submit">{% trans "Verify" %}</button>
    </p>
  </form>
  
{% endblock %}